.image-row {
  display: flex;
  justify-content: space-between; /* This will space out the images evenly */
}

.image-row img {
  max-width: 100px; /* Adjust as necessary */
  height: auto; /* Maintain aspect ratio */
  margin: 130px 30px 30px; /* Add some margin if needed */
}

hr{
width:90%;
}

@media (max-width: 600px) {
  .image-row {
    justify-content: center; /* Center the images on smaller screens */
  }

  .image-row img {
    width: 80px; /* Adjust the size for smaller screens */
    margin: 100px 0px 0px; /* Adjust the margin for smaller screens */
  }
}

.side-by-side-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px;
}

.text-section {
  width: 48%;
  /* Additional styling as needed */
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 470;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
 
}
h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;

}

p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .side-by-side-container {
    flex-direction: column;
    margin: 10px 30px;
  }

  .text-section {
    width: 100%;
    margin-bottom: 20px; /* Space between sections */
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  p {
    font-size: 1rem;
  }
}